body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    justify-content: space-between;
}

h1 {
    font-family: Impact;
}

footer {
    font-size: 13px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}
select:hover{
    background-color: rgb(144, 148, 151);
    cursor: pointer;
    border: 3px groove black;
}
option{
    background-color: white;
}
.date {
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.containerDate {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.containerAge {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.age {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 10px;
}