body{
    padding: 0;
    background-color: rgb(223, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    justify-content: space-between;
}
.date {
   width: 100px;   
   height: 40px;
   text-align: center;
   padding: 10px;
   border-radius: 10px;
}
main{
    background-color: white;
    border-radius: 20px;
    height: 300px;
    border-style: groove;
}
.containerDate{    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.containerAge{    
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.age{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;    
    padding-top: 30px;   
    padding-left: 10px;
}